<h1>Patient <%=@user.full_name%></h1>
<hr/>
<h2>Doctors</h2>
<ul>
  <% @user.doctors.each do |doctor|%>
    <li>
      <h3><%= link_to doctor.full_name, doctor_path(doctor)%></h3>
      <p>
      a doctor of <%=doctor.specialty%>
      </p>
    </li>
  <% end %>
</ul>
<br />
<br />
<br />
<%@user.appointments.each do |a|%>
<ul>
<li>
    <h3>Has Appointment at: <%=a.date%></h3> 
</li>

<%end%>
</ul>
<%= link_to "Delete User", user_path(@user), method: :delete, class: "ui red button inverted"%>
<%#= link_to "Add Appointment", new_doctor_appointment_path(@user)%>
